$button-color-primary: blue;

.app {
  width: 100%;
  height: 100vh;
  background: url("https://source.unsplash.com/GLf7bAwCdYg/1440x900");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.2s ease-in-out;
}

.result {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 60vh;

  & .loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    transform: scale(2);
  }
}

// Navbar

.socialLink {
  font-size: 24px;
  margin-right: 0.5rem;
}

.back__button {
  position: absolute;
  top: 0.5rem;
  left: 2rem;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  font-size: 1.125rem;

  &:hover {
    text-decoration: none;
    color: white;
  }
}

.icon {
  width: 400px;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  & + p {
    text-align: center;
    margin-top: 2.3rem;
    color: black;
    border-radius: 1em;
    background: white;
    font-size: 1.8rem;
    padding: 0.5rem 0;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    font-weight: 600;
  }

  &:hover + p {
    letter-spacing: 0.2ch;
  }
}

// Accounts Page

.accounts,
.transfer,
.home,
.accountHistory {
  width: 100%;
  height: 100%;
  position: relative;
}

.home__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  margin-top: 4rem;
}

.accounts__heading {
  text-align: center;
  text-transform: uppercase;
  margin: 1.6rem 0 0;
  font-size: 2.2rem;
  font-weight: 700;
}

.accountInfo__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 4rem 0;
  gap: 2rem;
}

.accountInfo {
  width: 275px;
  height: 240px;
  min-height: 270px;
  text-align: center;
  animation: fadeIn 0.4s ease-in-out;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  & > .card {
    border-radius: 1rem;
    height: 100% !important;
  }

  & .accountInfo__picture {
    width: 80px !important;
    height: 80px !important;
    align-self: center;
    margin-top: 0.75rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.accountsToHome {
  text-decoration: none;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

// Transfer
.transfer__heading {
  text-align: center;
  text-transform: uppercase;
  margin: 1rem 0 0;
  font-size: 2.2rem;
  font-weight: 700;
}

.accountStatus {
  display: flex;
  flex-direction: row;
  padding: 1.3rem;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 0.9rem;
}

.account__money {
  min-width: 200px;
  width: 200px;
  padding: 0 0.75rem;
}

.account__card {
  width: 275px;
  height: 310px;
  min-height: 300px;
  text-align: center;

  & > .card {
    border-radius: 1rem;
    height: 100% !important;
  }
}

.account__picture {
  width: 150px !important;
  height: 150px !important;
  align-self: center;
  margin-top: 0.75rem;
}

.account__helper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.transferStatus {
  margin: 0 20%;

  & h5 {
    text-align: center;
  }
}

.transfer__button {
  margin-top: 0;
  margin-right: 300px;
  margin-left: 300px;
}

// Account Information
.accountHistory__information {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.account__information {
  flex: 0.3;
  height: 100%;
  padding: 3rem;
  padding-top: 1.3rem;

  & .account__information-card {
    height: 100%;

    & .card {
      border-radius: 25px;
    }

    & .account__information-avatar {
      align-self: center;
      margin: 1rem 0;
      width: 120px !important;
      height: 120px !important;
    }

    & .account__information-name {
      text-align: center;
      font-size: 2rem;
      font-weight: 600;
    }

    & .account__information-email {
      text-align: center;
    }

    & .account__information-balance {
      text-align: center;
      font-size: 1.25rem;
      font-weight: 500;
      margin-top: 1.8rem;
    }

    & .account__information-links {
      padding: 1rem;
    }
  }
}

.transaction__information {
  flex: 0.7;
  height: 100%;
  margin: 3rem;
  margin-top: 1.3rem;

  & .transaction__information-card .card {
    padding: 2rem;
    border-radius: 25px;
  }

  .transaction__information-heading {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  & .transaction__information-list {
    max-height: 58vh;
    overflow-y: scroll;
  }
}

.transaction__information-info {
  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & span {
      font-style: italic;
    }

    & small {
      font-size: small;
      font-weight: 500;
    }
  }

  &--body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.125rem;

    &Account {
      font-weight: bold;
      color: black;
    }

    &Remark {
      font-weight: bold;
      font-size: 1rem;

      & span {
        font-style: italic;
        font-weight: 600;
      }
    }
  }

  &--avatar {
    width: 30px !important;
    height: 30px !important;
  }
}
